.content {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.description-title {
  display: flex;
  color: #3282b8;
  font-size: 2rem;
  width: 65%;
  text-align: center;
}

.description-content {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  width: 55%;
}

.game-options {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
  flex-direction: row;

  button {
    padding: 0.7rem;
    width: 140px;
    font-weight: 600;
  }
}
