.content {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.description-title {
    display: flex;
    color: #3282B8;
    font-size: 2rem;
    width: 65%;
    text-align: center;
}

.description-content {
    font-size: 1.3rem;
    color: #FFFFFF;
    text-align: center;
    width: 55%;
}